/* Layout code - used to make the pages match*/
@font-face {
    font-family: mainFont;
    src: url("../assets/universal/Keep\ Cheese.ttf");
}

.titlebar {
    height: 40px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #7C9464;

    font-size: 25px;
}

body{
    background-image: url("../assets/universal/Background\ 2.PNG");
    background-repeat:repeat;
    background-size: 1000px;

    font-family: mainFont;
    color: rgb(38, 38, 38);  
    
    outline: 10px solid #7C9464; 
    height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
}

header{
    text-align: center;
    padding: 50px;
}

/*Page specific CSS*/

.app-containers{
    display: inline-block;
    justify-content: center;
    margin-left: 20px;
}

.img-with-text{
  font-size:20px;
  text-align:center;
  text-decoration:none;
}

.app-bttn{
    width: 100px;
    height: 100px;

    background-image: url("../assets/mainMenu/fileImg.png");
    background-position: center;
    background-size: 100px;

    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;
}


.popup{
    width: 400px;
    height: auto;

    background: #B1B78B;
    border:3px #58733C solid;
    border-radius: 10px;
    box-shadow: 7px 7px 0px 0px #CC9922;

    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);

    text-align: center;
    color: #333;

    visibility: hidden;

    transition: transform 0.4s, top 0.4s;
    
}

.popup-contents{
    padding: 0 40px 0px;
}

.drag{
    padding: 10px;

    cursor: move;
    z-index: 10;
    background-color: #58733C;
    color: #fff;
}

.dragging {
    transition: none !important;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    font-family: mainFont;
    font-size: large;

    margin: auto;
    top: 60px;

    background-color: #B1B78B;
    padding: 8px;
    border:3px #58733C solid;
    border-radius: 10px;
    box-shadow: 7px 7px 0px 0px #CC9922;

    cursor: pointer;

    
}

.popup h3{
    text-align: left;
}

.popup h4{
    text-align: left;
}

.popup p{
    text-align: left;
}

.popup li{
    text-align: left;
}

/* To do list */
#list-container li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

    top: 25px;
}

#list-container li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url("../assets/mainMenu/Unchecked.png");
    background-size: cover;
    background-position: center;
    top:6px;
    left: 8px;
}

#list-container li.checked{
    color: #555;
    text-decoration: line-through;
}

#list-container li.checked::before{
    background-image: url("../assets/mainMenu/Checked.png");
}

#list-container li span{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #555;
    text-align: center;
    border-radius: 7px;
}

#list-container li span:hover{
    background: #e2d1bc;
}

/* Style the input */
input {
    font-family: mainFont;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 12px;
    font-size: 13px;
}

.row{
    display: flex;
    align-items: center;
    justify-content:space-between;

    background-color: #dee4bf;
    border:3px #58733C solid;
    border-radius: 10px;
    position: relative;

    top: 25px;

    padding-left: 20px;
}

/* Style the "Add" button */
.addBtn {
    border: none;
    outline: none;
    padding: 16px 20px;
    background-color: #B1B78B;
    color: #202020;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}

.addBtn:hover {
  background-color: #9ca272;
}